{% extends "base.html"%}
{% block title %}GateControl - Login{% endblock%}
{% block content %}
    <h2>Login</h2>
    <form method="POST">
        <label>Usuário:</label>
        <input type="text" name="username" required>
        <label>Senha:</label>
        <input type="password" name="password" required>
        <button type="submit">Entrar</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color:red;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}