{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h3>Pessoas dentro da empresa</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome:</th>
                    <th>Documento:</th>
                    <th>Tipo:</th>
                    <th>Entrada:</th>
                </tr>
            </thead>
            <tbody>
                {% for mov in movimentacoes %}
                    <tr>
                        <td>{{ mov.pessoa.nome}}</td>
                        <td>{{ mov.pessoa.documento}}</td>
                        <td>{{ mov.pessoa.tipo}}</td>
                        <td>{{ mov.data_entrada}}</td>
                        <td>
                            <form action="{{ url_for('movimentacao_pessoa.registrar_saida', id=mov.id)}}" method="post">
                                <button class="btn btn-sm btn-danger">Registrar Saida</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}    
            </tbody>
        </table>
    </div>
{% endblock %}